<div id="skills" class="container site-section">
    <div id="skills-nav-target" class="nav-target"></div>
    <h1 class="section-title">Skills</h1>
    <h2 class="section-subtitle">"Skill is only developed by hours and hours of work." - Usain Bolt</h2>
    <hr class="mt-4 mb-4 d-inline-block mx-auto w-100">
    
    <div class="row">
        <div class="col pl-5 pr-5">
            <h4>Languages</h4>
            <ul>
                <li *ngFor="let language of languages">
                    <span class="skill-title">{{ language.name }}</span>
                    <span class="skill-score">
                        <mdb-icon *ngFor="let i of [].constructor(2)" fas icon="star" class="skill-star star-empty"></mdb-icon>
                        <mdb-icon *ngFor="let i of [].constructor(3)" fas icon="star" class="skill-star star-filled"></mdb-icon>
                    </span>
                </li>
            </ul>
        </div>
        <div class="col pl-5 pr-5">
            <h4>Frameworks</h4>
            <ul>
                <li *ngFor="let framework of frameworks">
                    <span class="skill-title">{{ framework.name }}</span>
                    <span class="skill-score">
                        <mdb-icon *ngFor="let i of [].constructor(2)" fas icon="star" class="skill-star star-empty"></mdb-icon>
                        <mdb-icon *ngFor="let i of [].constructor(3)" fas icon="star" class="skill-star star-filled"></mdb-icon>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>