<mdb-navbar id="site-navbar" SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
    <mdb-navbar-brand>
        <button id="btn-resume" mdbBtn type="button" outline="true" class="ml-2 mr-2 mt-0 mb-0" mdbWavesEffect>Resume</button>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" href="#profile">Profile</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" href="#experience">Experience</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" href="#skills">Skills</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" href="#education">Education</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" href="#projects">Projects</a>
            </li>
        </ul>
    </links>
</mdb-navbar>
