<div id="education" class="container site-section">
    <h1 class="section-title">Education</h1>
    <h2 class="section-subtitle">"An investment in knowledge pays the best interest." - Benjamin Franklin</h2>
    <hr class="mt-4 mb-4 d-inline-block mx-auto w-100">
    <div class="row">
        <div class="col-lg-3 offset-lg-1">
            <div id="btn-group" class="btn-group-vertical" role="group">
                <button (click)="showTab(0)" [class.btn-time-line-active]="activeTabNum === 0" mdbBtn type="button" class="waves-light mt-0 mb-0 btn-timeline" mdbWavesEffect>2013 - 2017</button>
                <button (click)="showTab(1)" [class.btn-time-line-active]="activeTabNum === 1" mdbBtn type="button" class="waves-light mt-0 mb-0 btn-timeline" mdbWavesEffect>2011 - 2012</button>
                <button (click)="showTab(2)" [class.btn-time-line-active]="activeTabNum === 2" mdbBtn type="button" class="waves-light mt-0 mb-0 btn-timeline" mdbWavesEffect>2009 - 2013</button>
            </div>
        </div>
        <div class="col-lg-7">
            <div *ngIf="activeTabNum === 0">
                <h5>B.S. in Computer Science <span>@ Liberty University</span></h5>
                <h6 class="mb-4">Aug 2013 - May 2017 | <span>GPA: 3.93</span></h6>
                <ul class="ul-top-level">
                    <li>Awards</li>
                    <ul>
                        <li>Graduated summa cum laude</li>
                        <li>C.S. Outstanding Student Award (sole recipient)</li>
                        <li>Dean's List (every semester)</li>
                    </ul>
                    <li>Honor Societies</li>
                    <ul>
                        <li>Tau Sigma Academic Honor Society</li>
                        <li>Kappa Mu Epsilon Mathematics Honor Society</li>
                    </ul>
                    <li>Clubs</li>
                    <ul>
                        <li>Institute of Electrical and Electronics Engineers (IEEE)</li>
                        <li>Cyber Defense Club</li>
                    </ul>
                </ul>
            </div>
            <div *ngIf="activeTabNum === 1">
                <h5>Dual Enrollment <span>@ Eastern Florida State College</span></h5>
                <h6 class="mb-4">Aug 2011 - May 2012 | <span>GPA: 4.0</span></h6>
                <ul class="ul-top-level">
                    <li>President’s List</li>
                    <li>Phi Theta Kappa Honor Society</li>
                </ul>
            </div>
            <div *ngIf="activeTabNum === 2">
                <h5>High School Diploma <span>@ Allendale Academy</span></h5>
                <h6 class="mb-4">Aug 2009 - May 2013 | <span>GPA: 4.0</span></h6>
                <ul class="ul-top-level">
                    <li>Florida Bright Futures Academic Scholar</li>
                    <li>AP Computer Science (Exam score 5/5) </li>
                </ul>
            </div>
        </div>
    </div>
</div>