<div class="container mdb-color darken-3" style="height: 100vh">
    <h1 class="text-center">Experience</h1>
    <h2 class="text-center">"The only source of knowledge is experience." - Albert Einstein</h2>
    <hr class="mt-4 mb-4 d-inline-block mx-auto w-100 background-accent-color">
    <div class="row">
        <div class="col-lg-3 offset-lg-1">
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <button (click)="showTab(0)" [class.btn-time-line-active]="activeTabNum === 0" mdbBtn type="button" class="waves-light mt-0 mb-0 btn-timeline" mdbWavesEffect>2017 - Present</button>
                <button (click)="showTab(1)" [class.btn-time-line-active]="activeTabNum === 1" mdbBtn type="button" class="waves-light mt-0 mb-0 btn-timeline" mdbWavesEffect>2016</button>
                <button (click)="showTab(2)" [class.btn-time-line-active]="activeTabNum === 2" mdbBtn type="button" class="waves-light mt-0 mb-0 btn-timeline" mdbWavesEffect>2015</button>
                <button (click)="showTab(3)" [class.btn-time-line-active]="activeTabNum === 3" mdbBtn type="button" class="waves-light mt-0 mb-0 btn-timeline" mdbWavesEffect>2014</button>
            </div>
        </div>
        <div class="col-lg-7">
            <div *ngIf="activeTabNum === 0">
                <h5>Software Engineer <span>@ L3Harris Technologies, Inc.</span></h5>
                <h6 class="mb-4">June 2017 - Present</h6>
                <ul class="ul-top-level">
                    <li>Function as the technical lead for an enterprise wide custom PLM software solution with 8,000+ active users (written primarily in Java).</li>
                    <li>Implement bug fixes, improvements, and new features for a 500,000+ line codebase on a daily basis.</li>
                    <ul>
                        <li>This includes both front-end and back-end development.</li>
                    </ul>
                    <li>Secured RESTful APIs with the use of the Spring security framework, JSON Web Tokens (JWT), and Basic Authentication.</li>
                    <li>Created a DevOps pipeline in Jenkins for automating build deployments (written primarily in Groovy).</li>
                    <li>Aided in updating developer tool stack.</li>
                    <ul>
                        <li>Source Control: ClearCase to Git (w/ Bitbucket)</li>
                        <li>Build Tool: Ant to Maven</li>
                        <li>IDE: Eclipse to IntelliJ IDEA</li>
                    </ul>
                    <li>Operated as a key player in transitioning team from Waterfall to the Scrum agile process framework.</li>
                    <li>Lead/participate in Scrum meetings (i.e. backlog refinement, sprint planning, daily standup, sprint review, and sprint retrospective).</li>
                    <li>Received the following awards/recognitions:</li>
                    <ul>
                        <li>URock for Excellence (x3)</li>
                        <li>ThankU for Customer Support</li>
                    </ul>
                </ul>
            </div>
            <div *ngIf="activeTabNum === 1">
                <h5>Software Engineer (Intern) <span>@ L3Harris Technologies, Inc.</span></h5>
                <h6 class="mb-4">May - Aug 2016</h6>
                <ul class="ul-top-level">
                    <li>Developed code for both the font-end and back-end of a C# ASP.NET MVC interface status portal application.</li>
                    <li>Collaborated with users and team daily to determine application update requirements.</li>
                    <li>Coded unit tests to increase application maintainability.</li>
                    <li>Conducted and assisted in code reviews to ensure high quality code.</li>
                    <li>Wrote test requirements in JIRA for SE's to use for acceptance testing.</li>
                    <li>Deployed code to DEV. server using CruiseControl.NET and wrote documentation explaining the procedure for deploying to QA and PROD. servers.</li>
                    <li>(Front-end: Kendo UI, Bootstrap, jQuery, Razor, HTML, CSS, and JavaScript. Back-end: C#, XML, and SQL.)</li>
                </ul>
            </div>
            <div *ngIf="activeTabNum === 2">
                <h5>Software Engineer (Intern) <span>@ L3Harris Technologies, Inc.</span></h5>
                <h6 class="mb-4">May - Aug 2015</h6>
                <ul class="ul-top-level">
                    <li>Developed code for both the front-end and back-end of a 500,000+ line Java Agile PLM application.</li>
                    <li>Coded unit tests to reduce regression testing costs.</li>
                    <li>Conducted and assisted with code reviews to ensure top-notch code quality.</li>
                    <li>Assessed needs of customer and designed a machine learning UX tool to aide in managing datasets and comparing the effectiveness of learning/analytic algorithms.</li>
                    <li>(Languages used included: JavaScript, JSP, HTML, CSS, XML, SQL, and Java.)</li>

                </ul>
            </div>
            <div *ngIf="activeTabNum === 3">
                <h5>Software Engineer (Intern) <span>@ L3Harris Technologies, Inc.</span></h5>
                <h6 class="mb-4">May - Aug 2014</h6>
                <ul class="ul-top-level">
                    <li>Designed and coded an AutoIt to QuickTest Pro library converter application which reduced time spent translating libraries by up to 90%.</li>
                    <li>Designed and coded test automation front-end which gave inexperienced users the ability to run tests and reports.</li>
                    <li>Collaborated with test automation team members to develop an interactive top-level flow chart to speed up new hire training time and standardize procedures.</li>
                    <li>Designed web portal UI for SpaceWire communication error monitoring and telemetry.</li>
                </ul>
            </div>
        </div>
    </div>
</div>