@import "../../variables.scss";

#home-link-container {
    width: 40px;
    position: fixed;
    bottom: 0;
    right: 40px;
    left: auto;
    z-index: 10;

    div {
        text-align: center;
    
        a {
            text-align: center;
            writing-mode: vertical-rl;
            letter-spacing: 2px;
            color: rgb(168, 178, 209);
        }
    
        a:hover {
            color: $accent-color;
        }
    }
}

@media only screen and (max-width: 992px) {
    #home-link-container {
        display: none;
    }
}