<div id="projects" class="container site-section">
    <div id="projects-nav-target" class="nav-target"></div>
    <h1 class="section-title">Projects</h1>
    <h2 class="section-subtitle">"You can do anything you set your mind to." - Benjamin Franklin</h2>
    <hr class="mt-4 mb-4 d-inline-block mx-auto w-100">
    <div class="row">
        <div class="col-lg-6">
            <p>Some random text</p>
        </div>
        <div class="col-lg-6">
            <p>Some random text</p>
        </div>
    </div>
</div>