<div class="container mdb-color darken-3">
    <h1 class="text-center">Profile</h1>
    <h2 class="text-center">Real-world experience.&nbsp;&nbsp;Innovative problem solving.&nbsp;&nbsp;Driven to succeed.</h2>
    <hr class="mt-4 mb-4 d-inline-block mx-auto w-100 background-accent-color">
    <div class="row">
        <div class="col-lg-4">
            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light mx-auto mdb-color darken-2" style="max-width: 320px;" mdbWavesEffect>
                <img class="img-fluid" src="../../assets/img/davis-deruiter.png" alt="Davis DeRuiter profile picture">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <div class="col-lg-5">
            <h4 class="mb-3">
                <mdb-icon fas icon="user" class="pr-2"></mdb-icon>
                <strong>About me</strong>
            </h4>
            <p>
                Hey, I'm Davis. I'm a software engineer currently working for L3Harris Technologies, Inc. in sunny Palm Bay, Florida.
                I have enjoyed creating things out of bits and bytes since I wrote my first Hello World program in high school.
            </p>
            <p>
                My present work focuses on full-stack web development, but I'm always open to a new challenge.
                If you are looking for a creative individual who never gives up and strives for excellence, then look no further.
            </p>
        </div>
        <div class="col-lg-3">
            <strong>Name</strong>
            <p>Davis N. DeRuiter</p>
            <strong>Location</strong> 
            <p>Florida, U.S.</p>
            <strong>Email</strong>
            <p>davisderuiter@gmail.com</p>
            <!-- <strong>Phone</strong>
            <p>321-960-6406</p> -->
            <button mdbBtn type="button" color="white" outline="true" class="m-0" mdbWavesEffect>Get In Touch</button>
        </div>
    </div>
</div>