@import "../../../variables.scss";

#jumbotron {
    background: url("../../../assets/svg/jumbotron.svg")no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.heading-container {
    top: 25%;
    right: 10%;
}

h1 {
    font-weight: 500;
    color: $title-color;
    font-size: 3.5rem;
    line-height: 1.2;
}

h2 {
    font-weight: 500;
    color: $subtitle-color;
    font-size: 2rem;
}

@media (max-width: 480px) {
    .heading-container {
        top: 20%;
    }

    h1 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }
}

@media (max-width: 350px) {
    h1 {
        font-size: 2.3rem;
    }

    h2 {
        font-size: 1.2rem;
    }
}