<div id="projects" class="container mdb-color darken-3 site-section">
    <h1 class="text-center">Projects</h1>
    <h2 class="text-center">"You can do anything you set your mind to." - Benjamin Franklin</h2>
    <hr class="mt-4 mb-4 d-inline-block mx-auto w-100">
    <div class="row">
        <div class="col-lg-5 offset-lg-1">
            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light mx-auto mdb-color darken-2" style="max-width: 320px;" mdbWavesEffect>
                <img class="img-fluid" src="../../assets/img/davis-deruiter.png" alt="Davis DeRuiter profile picture">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <div class="col-lg-5">
            <h3 class="mb-3">
                <mdb-icon fas icon="user" class="pr-2"></mdb-icon>
                <strong>About me</strong>
            </h3>
            <p>
                I’m a driven individual with a passion for technology.
                My passion and drive coupled with my communication and technical skills enable me to be a top performer on any team.
                Additionally, I possess real-world work experience due to working for a top-ten ranked government defense contractor.
            </p>
            <p>
                If you are looking for a creative individual who never gives up and strives for excellence, then look no further.
            </p>
            <br />
            <button mdbBtn type="button" color="white" outline="true" class="m-0" mdbWavesEffect>Get In Touch</button>
        </div>
    </div>
</div>