@import "./variables.scss";

// .navbar {
//     background-color: transparent !important;
// }

.top-nav-collapse {
    background-color: $background-color;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: $background-color;
    }
}

.text-accent-color {
    color: $accent-color;
}

.background-accent-color {
    background-color: $accent-color;
}

.container {
    color: rgb(204, 214, 246) !important;
    letter-spacing: .5px !important;
}

h1 {
    color: $h1-color;
    font-size: 3.5rem !important;
}

h2 {
    color: $h2-color;
    font-size: 1.5rem !important;
}

.vertical-panel-line {
    height: 100px;
    width: 1px;
    background: rgb(168, 178, 209);
    margin: auto;
    margin-top: 10px;
}