// $accent-color: rgb(100, 255, 218);
// $accent-color: #7c4dff;
// $accent-color: #3f33e5;
// $accent-color: #31497c;
$accent-color: #f7f45f;

$background-color: #1c2a48;
$background-hover-color: #223357;

$h1-color: rgb(204, 214, 246);
$h2-color: rgb(136, 146, 176);